<ng-container>

  <p-splitter [style]="{'height': '100vh'}" layout="vertical">
    <ng-template pTemplate>
      <div class="card">
        <p-table [value]="request" selectionMode="single" [(selection)]="selectedRequest" dataKey="code" [tableStyle]="{'width': '100%'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Номер</th>
              <th>Дата</th>
              <th>Компания</th>
              <th>Описание</th>
              <th>Статус</th>
              <th>Дата Выпуска</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-req>
            <tr [pSelectableRow]="req" (click)="test(selectedRequest.id)">
              <td>{{req.id}}</td>
              <td>{{req.number}}</td>
              <td>{{req.date}}</td>
              <td>{{req.contractor.caption}}</td>
              <td>{{req.description}}</td>
              <td>{{req.state?.caption}}</td>
              <td>{{req.releaseDate}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="card">
        <p-table [value]="requestPosition" selectionMode="single" dataKey="code" [tableStyle]="{'width': '100%'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Номер Запроса</th>
              <th>Продукт(код)</th>
              <th>Описание</th>
              <th>Кол-во</th>
              <th>Обычные штуки</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reqP>
            <tr [pSelectableRow]="reqP" (click)="test(selectedRequest.id)">
              <td>{{reqP.id}}</td>
              <td>{{reqP.request.id}}</td>
              <td>{{reqP.product.code}}</td>
              <td>{{reqP.product.caption}}</td>
              <td>{{reqP.quantity}}</td>
              <td>{{reqP.quantityExec}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </p-splitter>
</ng-container>
