
<p-toast></p-toast>
<div class="main">
<div class="card">
  <div class="p-toolbar-group-start">
    <p-button [label]="'Изменить роль пользователя'" style="padding-left: 30px"
              icon="pi pi-fw pi-pencil" (onClick)="this.showDialog()"></p-button>
  </div>
  <p-table [value]="user" [(contextMenuSelection)]="selectedUser" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Логин</th>
        <th>Роль</th>
        <th>Электронная почта</th>
        <th>ФИО</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pContextMenuRow]="user">
        <td>{{user.login}}</td>
        <td>{{user.role}}</td>
        <td>{{user.email}}</td>
        <td>{{user.fullName}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog *ngIf="userDto" [(visible)]="displayDialog" [position]="'right'" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <div class="col-12 md:col-4">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input
        type="text"
        pInputText
        required
        placeholder="Username"
        disabled = true
        [(ngModel)]="selectedUser.login"/>
    </div>
  </div>

  <h3>Доступные Роли:</h3>
  <p-selectButton [options]="roles" [(ngModel)]="userDto.role" [multiple]="false" optionLabel="name" optionValue="name"></p-selectButton>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="closeDialog()" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
</div>
