<div class="container">

  <p-splitter>
    <ng-template pTemplate>

      <div class="master">
        <p-table [value]="productionTask" [(selection)]="selectedProductionTask"
                 [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-button
                  [pTooltip]="'Показать диалоговое окно'"
                  class="show-dialog"
                  icon="pi pi-check" styleClass="p-button-success"
                  (onClick)="showDialog()"></p-button>

                <div class="field-checkbox">
                  <p-checkbox [(ngModel)]="checked" [binary]="true"></p-checkbox>
                  <label>Активные</label>
                </div>
              </th>



              <th>Id плана</th>
              <th>Id заявки</th>
              <th>Номер заявки</th>
              <th>Дата создания таски</th>
              <th>Закрытие</th>
            </tr>
            <tr>
              <th style="width:4rem"></th>
              <th>
                <p-columnFilter type="text" field="productionPlanId"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="requestId"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="requestNumber"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="creationDate"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="closed"></p-columnFilter>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-req>
            <tr [pSelectableRow]="req">
              <td>
                <p-tableCheckbox [value]="req"></p-tableCheckbox>
              </td>
              <td style="pointer-events: none;">{{req.productionPlanId}}</td>
              <td style="pointer-events: none;">{{req.requestId}}</td>
              <td style="pointer-events: none;">{{req.requestNumber}}</td>
              <td style="pointer-events: none;">{{formatDate(req.creationDate)}}</td>
              <td style="pointer-events: none;"> {{req.closed}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
    <ng-template pTemplate>
      Panel 2
    </ng-template>
  </p-splitter>
</div>

<p-dialog header="Title" [(visible)]="display">
  Content
</p-dialog>
