.container {
  height: calc(100vh - 182px);
  overflow: auto;
}

:host {
  ::ng-deep {
    .p-splitter-panel {
      display: block;
    }
  }
}

.show-dialog {

}

.field-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  color: black;
  background: #32CA7A;
  border: 1px solid #22C55E;
  padding: 5px;
}

.master {
  height: calc(50vh - 185px);
  overflow: auto;
}

.master-single {
  height: calc(100vh - 185px);
  overflow: auto;

}

.detail {
  height: calc(50vh - 1em - 1px);
  overflow: auto;
}

.dialog-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .line {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 10px;
    border: 1px solid rgba(96, 82, 82, 0.79);
    padding: 5px;
  }

  .key, .value {
    font-size: 20px;
  }

  .key {
    border-right: 1px solid rgba(96, 82, 82, 0.79);

  }
}
