.container {
  height: calc(100vh - 182px);
  overflow: auto;
}

:host {
  ::ng-deep {
    .p-splitter-panel {
      display: block;
    }
  }
}

.master {
  height: calc(50vh - 182px);
  overflow: auto;
  position: relative;
}

.show-dialog {

}

.field-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  color: black;
  background: #32CA7A;
  border: 1px solid #22C55E;
  padding: 5px;
}
