.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.module-nav {
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.container-message {
  height: 690px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;

  .message {
    min-height: 95px;
    border: 3px solid black;
    background: aliceblue;
    display: grid;
    grid-template-columns: 10% 87%;
    gap: 3%;
    padding: 2px;

    &__icon {
      align-self: center;
      cursor: pointer;

      i {
        font-weight: bold;
        font-size: 25px;
      }

    }

    &__text {
      border: 1px solid black;

    }
  }
}

:host {
  ::ng-deep {
    .ng-trigger {
      width: 26rem;
    }
  }
}
