<ng-container>

  <router-outlet></router-outlet>
</ng-container>
<p-speedDial [model]="items" class="module-nav" direction="up-left" type="quarter-circle"
             buttonClassName="p-button-success" *ngIf="admin"></p-speedDial>
<p-sidebar [(visible)]="display" position="right">
  <div class="container-message">
    <div class="message">
      <div class="message__icon" (click)="closeInfo()"><i class="pi pi-times"></i></div>
      <div class="message__text"></div>
    </div>
    <div class="message">
      <div class="message__icon"><i class="pi pi-times"></i></div>
      <div class="message__text"></div>
    </div>
    <div class="message">
      <div class="message__icon"><i class="pi pi-times"></i></div>
      <div class="message__text">fffffffffffffffffffffffffffffffffff awfwafawf wafwf fafwf aw</div>
    </div>
  </div>
</p-sidebar>

<p-button type="text" class="sidebar" (click)="showNewPositions()" icon="pi pi-plus" label="Show"></p-button>
