.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.module-nav {
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.container-message {
  height: 78vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;

  .message {
    position: relative;
    min-height: 95px;
    background: aliceblue;
    display: grid;
    grid-template-columns: 10% 87%;
    gap: 3%;
    padding: 2px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

    &__icon {
      align-self: center;
      cursor: pointer;
      width: 100%;
      padding: 5px;

      i {
        font-weight: bold;
        font-size: 25px;
      }

    }

    &__text {

      font-size: 20px;
    }
  }
}


:host {
  ::ng-deep {
    .ng-trigger {
      width: 26rem;
    }
  }
}


.machineBroke {
  background-color: #ef514054 !important;
}

.approve {
  position: absolute;
  right: 0;
  bottom: 0;
}
