<ng-container>
  <p-toolbar style="position: absolute; top: 0; width: 100%">
    <div class="p-toolbar-group-start">

      <h3 style="cursor: pointer" routerLink="/">Пацаны ваще ребята</h3>
    </div>
    <div class="p-toolbar-group-start">
      <p-button type="text" class="sidebar" (click)="showNewPositions()" icon="pi pi-bell" label="{{messages.length}}"
                *ngIf="userAuth && userRole == 'chief'"></p-button>

    </div>
  </p-toolbar>

  <router-outlet></router-outlet>
</ng-container>
<p-speedDial [model]="items" class="module-nav" direction="up-left" type="quarter-circle"
             buttonClassName="p-button-success" *ngIf="userAuth"></p-speedDial>
<p-sidebar [(visible)]="display" position="right">
  <div class="container-message">
    <h3 *ngIf="messages.length == 0">Нет новых сообщений</h3>
    <div class="message" class="{{message.type}}" *ngFor="let message of messages; let idx = index;">
      <div class="message__icon" (click)="closeOneInfo(message.id, idx)"><i class="pi pi-times"></i></div>
      <div class="message__text">{{message.customText}}</div>
      <p-button *ngIf="message.type === enums.machineBroke"
                [pTooltip]="'Создать заявку на ремонт'"
                tooltipPosition="left"
                class="approve"
                icon="pi pi-check" styleClass="p-button-success"
                (click)="confirm(message, idx)"
      ></p-button>
    </div>
  </div>
  <div style="width: 100%; text-align: center; padding-top: 10px">
    <button pButton type="button" class="p-button-success" label="Прочитать все" (click)="closeAllInfo()"></button>
  </div>
</p-sidebar>

<p-confirmDialog [style]="{width: '50vw'}" [acceptLabel]="'Да, отправить заявку'" [rejectIcon]="'Нет'"
                 [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-toast></p-toast>
