<ng-container>
  <p-toolbar style="position: absolute; top: 0; width: 100%">
    <div class="p-toolbar-group-start">

      <h3 style="cursor: pointer" routerLink="/">Пацаны ваще ребята</h3>
    </div>
    <div class="p-toolbar-group-start">
      <p-button type="text" class="sidebar" (click)="showNewPositions()" icon="pi pi-bell" label="Уведомления ({{messages.length}})"></p-button>


    </div>
  </p-toolbar>

  <router-outlet></router-outlet>
</ng-container>
<p-speedDial [model]="items" class="module-nav" direction="up-left" type="quarter-circle"
             buttonClassName="p-button-success" *ngIf="admin"></p-speedDial>
<p-sidebar [(visible)]="display" position="right" >
  <div class="container-message" >
    <h3 *ngIf="messages.length == 0">Нет новых сообщений</h3>
    <div class="message" *ngFor="let message of messages; let idx = index;" >
      <div class="message__icon" (click)="closeOneInfo(message.id, idx)"><i class="pi pi-times"></i></div>
      <div class="message__text">{{message.id}}</div>
    </div>
  </div>
  <button pButton type="button" class="p-button-success" label="Прочитать все" (click)="closeAllInfo()"></button>
</p-sidebar>

