<div class="nav" *ngIf="admin">
  <span class="nav__user-name">Привет {{login}}</span>
  <ng-container>
    <div class="nav__buttons">
      <button pButton type="button" class="p-button-success" (click)="deleteAuthMark()" label="Логин"
              routerLink="/login"></button>
      <button pButton type="button" class="p-button-success" (click)="deleteAuthMark()" label="Регистрация"
              routerLink="/registration"></button>
      <button pButton type="button" class="p-button-success" label="Админка" routerLink="/admin"></button>
      <button pButton type="button" class="p-button-success" label="Парсинг" routerLink="/parsing"></button>
      <button pButton type="button" class="p-button-success" label="Согласование" routerLink="/process"></button>
      <button pButton type="button" class="p-button-success" label="Статистика" routerLink="/stat"></button>
    </div>
  </ng-container>
</div>

