<div class="nav" *ngIf="userAuth">
  <ng-container>
    <div class="nav__buttons">
      <button pButton type="button" class="p-button-success" label="Админка" routerLink="/admin"
              *ngIf="userRole == 'chief' ||  userRole == 'admin'"></button>
      <button pButton type="button" class="p-button-success" label="Список заказов" routerLink="/request"></button>
      <button pButton type="button" class="p-button-success" label="Формирование плана" routerLink="/manage"
              *ngIf="userRole == 'chief'"></button>
      <button pButton type="button" class="p-button-success" label="Заказ-наряды" routerLink="/production-tasks"
              *ngIf="userRole == 'chief'"></button>
      <button pButton type="button" class="p-button-success" label="Журнал поломок" routerLink="/broken-machine"
              *ngIf="userRole == 'chief'"></button>
    </div>
  </ng-container>
</div>

