<ng-container>
  <p-toolbar>
    <div class="p-toolbar-group-start">

      <p-button [pTooltip]="'К заказам'"
                icon="pi pi-arrow-left" styleClass="p-button-secondary"
                routerLink="/request"></p-button>
      <div class="splitter"></div>
      <h3>Формирование ПП</h3>
      <div class="splitter"></div>

      <p-button [label]="'Автоматический расчет приоритетов'"
                icon="pi pi-sort-amount-down-alt" styleClass="p-button-info"
                (onClick)="countAutomaticsOrder()"></p-button>

      <p-button [label]="'Сохранить план'"
                icon="pi pi-save" styleClass="p-button-info"
                (onClick)="savePlan()"></p-button>


    </div>
    <div class="p-toolbar-group-start">
      <label style="margin-right: 5px; font-weight: bold">Ручной Режим</label>
      <p-inputSwitch [(ngModel)]="isManual"></p-inputSwitch>
    </div>
  </p-toolbar>
  <div class="master">
    <p-table [value]="selectedRequests" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:3rem" *ngIf="isManual"></th>
          <th>Приоритет</th>
          <th>Номер</th>
          <th>Автоматически расчитанное время</th>
          <th>Дата</th>
          <th>Статус</th>
          <th>Дата Выпуска</th>
          <th>Утверждение</th>
        </tr>
        <tr>
          <th style="width:3rem" *ngIf="isManual"></th>
          <th>
            <p-columnFilter type="text" field="priority"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="number"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="time"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="date"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="description"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="releaseDate"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-req let-index="rowIndex">
        <tr [pReorderableRow]="isManual ? index : 0" [draggable]="false" (drop)="onDropChange()">
          <td *ngIf="isManual">
            <span class="pi pi-bars" pReorderableRowHandle
                  *ngIf="isEnabled(req)"></span>
          </td>
          <td style="pointer-events: none;">{{req.priority}}</td>
          <td style="pointer-events: none;">{{req.number}}</td>
          <td style="pointer-events: none;">{{req.time}} {{req.time ? ' ч.' : ''}}</td>
          <td style="pointer-events: none;">{{formatDate(req.date)}}</td>
          <td style="pointer-events: none;"
              [class.cellDisabled]="req.state.code == 'IN_PRODUCTION' || req.state.code == 'APPROVED'"> {{req.state?.caption}}</td>
          <td style="pointer-events: none;">{{formatDate(req.releaseDate)}}</td>
          <td style="display: flex; justify-content:center; flex-direction: row">
            <p-button
              [pTooltip]="isEnabled(req) ? 'Утвердить позицию' : 'Позиция уже утверждена' "
              [disabled]="!isEnabled(req)"
              tooltipPosition="left"
              icon="pi pi-check" styleClass="p-button-success"
              (onClick)="approvePosition(req.id)"></p-button>
            <p-button
              *ngIf="req.state?.code == 'APPROVED' || req.state?.code == 'IN_PRODUCTION' "
              [pTooltip]="req.state?.code == 'APPROVED' ? 'Сформировать заказ-наряд' : 'Заказ-наряд уже сформирован'"
              tooltipPosition="left"
              [disabled]="req.state?.code == 'IN_PRODUCTION'"
              [style]="{marginLeft: '5px'}"
              icon="pi pi-cog" styleClass="p-button-warning"
              (onClick)="toProduction(req)"></p-button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
<p-toast></p-toast>
<p-blockUI [blocked]="blocked"></p-blockUI>
