.info {
  position: absolute;
  top: 0;
  right: 0;
}

.master {
  height: calc(100vh - 184px);
  overflow: auto;
}

:host {
  ::ng-deep {
    .p-toolbar {
      .p-button {
        margin-left: 5px;
      }
    }
  }
}
